@use "variables";

body {
    font-family: variables.$font-secondary;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(20, 20, 20, 0.88);
}
a,li {
    text-decoration: none;
    list-style-type: none;
}
ul {
    padding: 0;
}
p {
    font-size: 1.1rem;
}
main {
    position: relative;
}
.font-felix {
    font-family: variables.$font-primary;
}

.font-lato {
    font-family: variables.$font-secondary;
}

.dark-button {
    border-radius: 3px;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
    background: variables.$dark;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1rem 3.3rem;
    letter-spacing: .15rem;
}

.light-button {
    border-radius: 3px;
    border: none;
    background: white !important;
    color: variables.$dark;
    font-family: "Lato", sans-serif;
    background: variables.$dark;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1rem 3.3rem;
    letter-spacing: .15rem;
}

.vertical-dark-button {
    border-radius: 3px;
    color: white;
    font-family: "Lato", sans-serif;
    background: #243230ba;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 1.5rem 2.5rem;
    letter-spacing: 0.15rem;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: fixed;
    z-index: 10;
    right: -95px;
    top: 63%;
    border: 1px solid white;
    border-radius: 5px;
}

.light-background {
    background: variables.$light;
}

.dark-background {
    background: variables.$dark;
}

.dark-color {
    color: variables.$dark;
}

.sandal-white-color {
    color: #F2F1E3;
}

.white-color {
    color: white;
}