@use "variables";

.promotions {
    position: relative;
    .title {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h6 {
            letter-spacing: .5rem;
            font-size: .75rem;
            font-weight: 400;
        }

        h2 {
            letter-spacing: .3rem;
            max-width: 25ch;
            width: 100%;
        }
    }
    .wave {
        width: 3rem;
        z-index: 5;
        position: absolute;
        img {
            width: 8rem;
        }
    }
    .wave-left {
        left: 3%;
        bottom: 15%;
    }
    .wave-right {
        right: 8%;
        top: 12%;    
    }
}

.slider-wrap {
    position: relative;

    .slider-btn {
        width: 5rem;
        position: absolute;
        cursor: pointer;
        img {
            width: 100%;
        }
    }

    .left {
        left: 4%;
        top: 32%;
    }

    .right {
        right: 4%;
        top: 32%;
    }

    .slider-container {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        flex-direction: row;
        transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        height: 63vh;
        overflow: hidden;

        .slider {
            position: relative;
            min-width: 26.5rem;
            scroll-snap-align: start;
            overflow: hidden;
            margin-right: 1em;
            transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);
            padding: 0 1em;
            cursor: pointer;
            border-radius: 7px;
            &:hover {
                .info-card {
                    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                    bottom: 3%;

                }
            }

            img {
                width: 100%;
            }

            .info-card {
                position: absolute;
                z-index: 5;
                background-color: white;
                bottom: -34%;
                left: 13%;
                width: 20rem;
                border-radius: 10px;
                transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);

                .title {
                    text-transform: uppercase;
                    letter-spacing: .17rem;
                    color: variables.$dark;
                    transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);
                }

                .description {
                    font-size: .85rem;
                    letter-spacing: .15rem;
                    color: variables.$gray;
                    padding: 1rem 0;
                    transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);
                }

                .dark-button {
                    text-transform: uppercase;
                    padding: 1rem 2rem;
                    border-radius: 6px;
                    transition: all 0.5s cubic-bezier(0.45, 0.66, 0.66, 0.99);
                }
            }
        }
    }
}

