// Override Bootstrap Variables
$primary: #ff5733;  // Custom primary color
$primary: green;  // Custom primary color
$body-bg: #f8f9fa;  // Custom background color
$font-family-base: 'Arial, sans-serif'; // Change default font

h1 {
    color: $primary;
}